@import "tailwindcss";


.btn-yellow {
  background: #FFF001;
  transition: all 0.3s ease;
  color: black;
}

.btn-yellow.btn-primary:hover {
  box-shadow: 0px 0px 10px 5px rgba(255, 240, 1, 0.4);
}

.btn-secondary {
  border: solid white 2px;
}

.btn-secondary:hover {
  border-color: #FFF001;
}

.text-yellow {
  color: #FFF001;
}

.mini-card {
  background: rgba(5, 5, 5, 0.61);
  border: solid #FCEE05 2px;
}

.extended-card {
  background: rgba(5, 5, 5, 0.61);
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a,
button {
  cursor: pointer;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/bg.png');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #FFF001;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
